<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <title>Dosya Yükleme Platformu</title>
</head>
<body>
    <h1>Dosya Yükleme Platformu</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="color:green;">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Yükle" />
    </form>
</body>
</html>
